# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#compilaciones de maven
/target/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/java/build/netbeansANT/nbproject/private/
/java/build/netbeansANT/build/
/java/build/netbeansANT/dist/
java/primitivos/.settings/org.eclipse.m2e.core.prefs
java/primitivos/.settings/org.eclipse.jdt.core.prefs
java/primitivos/.project
java/primitivos/.gitignore
java/primitivos/.classpath
java/Nueva carpeta/bin/.project
java/Nueva carpeta/.project
poo/poo.iml
poo/.idea/workspace.xml
poo/.idea/vcs.xml
poo/.idea/modules.xml
poo/.idea/misc.xml
poo/.idea/compiler.xml
poo/.project
poo/.gitignore
poo/.classpath
poo/.settings/org.eclipse.m2e.core.prefs
poo/.settings/org.eclipse.jdt.core.prefs
